header {
  background-color:  #000fff;
  font-size:  33px;
  color:  pink;
  font-weight:  bold;
  text-align:  center;
}
a {
  font-size:  53px;
  margin-left:  80%;


}
/* form stylesheet */
.main{
display: flex;
flex-wrap:wrap;
  width: 90%;
  text-align: center;
justify-content: space-around;

}
.career {
  width:  90%;
  background-color: #E0FFFF;
  margin: 1%;
  padding: 1%;
  text-align: center;
  border: 3px solid #000000;
  box-shadow: 3px 3px 3px 3px #000;

}
.career input {
  width: 80%;

}
.sub {
  width: 40%;
  background-color: #BDB76B;
  margin: 1%;
  padding: 1%;
  text-align: center;
  border: 3px solid #000000;
  box-shadow: 3px 3px 3px 3px #2df;
}
.sub input, .sub select  {
  width: 90%;
  padding: 1%;
  margin: 1%;
  font-size: lem;
}
button {
  font-size:  23px;
  font-weight:  bold;
  padding: 1%;
  color: #000;
  background: pink;

}
